{% extends 'store/base.html' %}
{% load static %}



{%block content%}


<main role="main">
    
      <section class="jumbotron text-center mt-3">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to the store</h1>
          <p class="lead text-muted">Hello, this is an example project of a Django ecommerce website. You can add items to cart without registration, they will be saved
          to cookies, also you can register and login. You can process your order and an email will be sent to your email with the details of an order.</p>
          
        </div>
      </section>
    
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          {% for product in products %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{product.imageURL}}">
                <div class="card-body">
                  <p class="card-text"><h3>{{product.name}}</h3>{{product.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                      <button data-product={{product.id}} data-action="add" type="button" class="btn btn-sm btn-outline-secondary update-cart">Add to cart</button>
                    </div>
                    <small class="text-dark">${{product.price|floatformat:2}}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
                
          </div>
        </div>
      </div>

</main>
<footer class="text-muted">
      <div class="container">
        <p class="pull-right">
          <a class="pull-right" href="#">Back to top</a>
        </p>
        <p>Made with Bootstrap and Django, will be remade with custom styles and design if needed!</p>
      </div>
</footer>
{%endblock content%}