{% extends 'store/base.html' %}
{%load crispy_forms_tags%}
{% block content %}
<div class="container">
    <h1>Admin dashboard</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Orders:</h2>
            {% for order in orders %}
                <h4>Order №: <a href="{%url 'order-detail' order.pk %}">{{order.transaction_id}}</a>,<br>Ordered at {{order.date_ordered}},<br>Status: {{order.status}}</h4><hr>
            {% endfor %}
        </div>

        <div class="col-md">
            <form method ="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><h2>Create new product</h2></legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mb-2 mt-4" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            
            {% if orders.has_previous%}
                <li class="page-item">
                    <a class="page-link" href="?page={{orders.previous_page_number}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">Current</a>
            </li>
            {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{orders.next_page_number}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
</div>
{% endblock %}